<ng-template #modal>
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{ modalConfig.modalTitle }} {{modalConfig.type}}</h2>
        <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()"
          *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
          <span class="svg-icon svg-icon-1" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"></span>
        </div>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
              <thead>
                <tr class="fw-bolder text-muted">
                  <th class="min-w-150px">Description</th>
                  <th class="min-w-140px">Code</th>
                  <th class="min-w-120px">Active</th>
                  <th class="min-w-100px text-end">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of modalConfig.data">
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                         {{i.Description}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                         {{i.Code}}
                      </div>
                    </div>
                  </td>
                  <td class="text-end">
                    <span *ngIf="i.isActive" class="badge badge-light-primary fs-7 fw-bold">Approved</span>
                    <span *ngIf="!i.isActive" class="badge badge-light-danger">Rejected</span>
                  </td>
                  <td>
                    <div class="d-flex justify-content-end flex-shrink-0">
                      <a
                        class="
                          btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                        "
                      >
                        <span
                          [inlineSVG]="
                            './assets/media/icons/duotune/general/gen027.svg'
                          "
                          class="svg-icon svg-icon-3"
                        ></span>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Enter Description."
                    name="company"
                    value=""
                    [(ngModel)]="description" #ctrl="ngModel"
                  />
                  </td>
                  <td>
                    <input
                    type="text"
                    class="form-control form-control-lg form-control-solid"
                    placeholder=""
                    name="company"
                    value=""
                    [(ngModel)]="code" #ctrl="ngModel"
                  />
                  </td>
                  <td class="text-end">
                    <input
                    class="form-check-input"
                    type="checkbox"
                    name="confirm"
                    [(ngModel)]="isActivePosition"
                  />
                  </td>
                  <td>
                    <div class="d-flex justify-content-end flex-shrink-0">
                      <a  (click)="savePosition()" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" >
                      save
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-secondary" (click)="dismiss()"
          *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
          [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
          {{ modalConfig.dismissButtonLabel }}
        </button> -->
        <button type="button" class="btn btn-outline-primary" (click)="close()"
          *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
          [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
          {{ modalConfig.closeButtonLabel }}
        </button>
      </div>
    </div>
  </ng-template>
  