<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-gray-900">Step 4: Statutory Info</h2>
</div>
<div class="card mb-5 mb-xl-10">
  <div id="kt_account_profile_details" class="collapse show">
    <form [formGroup]="form" novalidate="" class="form">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Pan Number</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Enter Pan Number"
              name="company"
              value=""
              formControlName="panNumber"
            />
          </div>
          <div
            class="fv-plugins-message-container invalid-feedback"
            *ngIf="
              form.get('panNumber')?.hasError('required') &&
              form.get('panNumber')?.touched
            "
          >
            Pan Number is required
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"></label>
          <div class="col-lg-8 fv-row">
            <div class="d-flex align-items-center mt-3">
              <label class="form-check form-check-inline form-check-solid me-5"
                ><input
                  class="form-check-input"
                  name="communication"
                  type="checkbox"
                  formControlName="IncludePF"
                  (change)="checkIncludePf($event)"
                /><span class="fw-bold ps-2 fs-6"> Include PF</span></label
              >

              <label class="form-check form-check-inline form-check-solid"
                ><input
                  class="form-check-input"
                  name="communication"
                  type="checkbox"
                  formControlName="IncludeESI"
                  (change)="checkIncludeESI($event)"
                /><span class="fw-bold ps-2 fs-6">Include ESI</span></label
              >

              <label class="form-check form-check-inline form-check-solid"
                ><input
                  class="form-check-input"
                  name="isIncludeLWF"
                  type="checkbox"
                  formControlName="IncludeLWF"
                /><span class="fw-bold ps-2 fs-6">Include LWF</span></label
              >
            </div>
          </div>
        </div>
        <div class="row mb-6" *ngIf="isIncludePf">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>PF Number</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Enter PF Number"
              name="company"
              value=""
              formControlName="PFNumber"
            />
          </div>
        </div>
        <div class="row mb-6" *ngIf="isIncludePf">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>UAN Number</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Enter UAN Number"
              name="company"
              value=""
              formControlName="UANNumber"
            />
          </div>
        </div>
        <div class="row mb-6" *ngIf="isIncludePf">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>PF Excess Contribution</span></label
          >
          <div class="col-lg-8 fv-row">
            <label class="form-check form-check-inline form-check-solid me-5"
              ><input
                name="contribution"
                type="radio"
                value="withWageCelling"
                formControlName="contribution"
              /><span class="fw-bold ps-2 fs-6">
                Employee & Employer contribution - 12% with in wage ceiling (Max
                Rs.1800)</span
              ></label
            >
            <label class="form-check form-check-inline form-check-solid me-5"
              ><input
                name="contribution"
                type="radio"
                value="aboubWageCelling"
                formControlName="contribution"
              /><span class="fw-bold ps-2 fs-6">
                Employee contribution - 12% over and above wage ceiling (In
                excess to Rs.1800)</span
              ></label
            >
          </div>
        </div>
        <div class="row mb-6" *ngIf="isIncludeESI">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>ESI Number</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Enter ESI Number"
              name="company"
              value=""
              formControlName="ESINumber"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
