<div class="d-flex ms-3">
  <a routerLink="/employee/add-employee" class="btn btn-flex flex-center bg-body btn-color-gray-700 btn-active-color-primary w-40px w-md-auto h-40px px-0 px-md-6"
    data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
      class="svg-icon svg-icon-2 svg-icon-primary me-0 me-md-2"></span>
    <span class="d-none d-md-inline">New Member</span>
  </a>
</div>

<!-- <div class="d-flex align-items-center ms-3" (click)="setting()">
  <div class="btn btn-icon btn-primary w-40px h-40px pulse pulse-white">
    <span _ngcontent-ng-c1433053698="" class="fs-1 ki-duotone ki-setting-2" style="color: white">
      <span _ngcontent-ng-c1433053698="" class="path1"></span>
      <span _ngcontent-ng-c1433053698="" class="path2"></span></span>
  </div>    
</div> -->

<!-- <div class="d-flex align-items-center ms-3">
  <div class="btn btn-icon btn-primary w-40px h-40px pulse pulse-white" id="kt_drawer_chat_toggle">
    <span [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'" class="svg-icon svg-icon-2"></span>
    <span class="pulse-ring"></span>
  </div>
</div> -->

<app-theme-mode-switcher class="d-flex align-items-center ms-3"
  toggleBtnClass="btn btn-icon btn-primary w-40px h-40px pulse pulse-white">
</app-theme-mode-switcher>
