<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-gray-900">Step 3: Employee Position 
     <a class="btn btn-sm btn-light-primary" (click)="addPosition()">
    <span
      [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
      class="svg-icon svg-icon-3"
    ></span>
  </a> 
</h2>
</div>
<app-add-position #modal [modalConfig]="modalConfig" (addParentPosition)="addParentPosition($event)">
</app-add-position>
<app-modal #subposition [modalConfig]="modalConfig" (addedPosition)="addedPosition($event)">
</app-modal>

<div class="card mb-5 mb-xl-10">
  <div id="kt_account_profile_details" class="collapse show">
    <form [formGroup]="form"  novalidate="" class="form">
      <div class="card-body border-top p-9" formArrayName="items">
        <div class="row mb-6" *ngFor="let p of items.controls; let i = index" [formGroupName]="i">
          <label class="col-lg-3 col-form-label fw-bold fs-6"><span class="required">{{allPosition[i].position}}</span></label>
          <div class="col-lg-7 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="selectedSubPosition">
              <option value="" selected>Select {{allPosition[i].position}}</option>
              <option [value]="i.description" *ngFor="let i of allPosition[i].sub_position">{{i.description}}</option>
            </select>
          </div>
          <div class="col-lg-2 fv-row">
            <a (click)="openModal(allPosition[i])" class="
              btn btn-icon btn-bg-light btn-active-color-primary btn-sm
              me-1
            ">
              <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
            </a>

            <a (click)="deletePosition(allPosition[i])" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
          </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>