<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xxl-4">
    <app-dashboard-view
    class="card card-xl-stretch mb-xl-8"
    chartColor="danger"
    chartHeight="200px"
    strokeColor="#cb1e46"
    ></app-dashboard-view>
  </div>
  <div class="col-xxl-4">
    <app-new-joining
      class="card card-xxl-stretch mb-xl-3"
    ></app-new-joining>
  </div>
  <div class="col-xxl-4">
    <app-birthday-view
    class="card card-xxl-stretch mb-xl-3"
  ></app-birthday-view>
  </div>
</div>

